@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif
}

.products {
    display: flex;
}
.products .product-items img {
    height:354px;
width: 355px;
border-radius: 0px;
margin-left: 4.2rem;

}

 .products .product-items {
    display: grid;
    height: 60vh;
    width: 60vw;
    grid-template-columns: 350px 350px;
    grid-template-rows: 350px 350px;
    column-gap: 0.5rem;
     row-gap: 0.5rem; 
 }

.products .info .cloth {
    color: #A3A1A1;
    font-size: 1rem;
}

.products  h1 {
    text-transform: uppercase;
}
.info {
    margin-left: 9rem;
}
.products .info .tax {
color: #A3A1A1;
    font-size: 1rem;
    margin-top: 0rem;
}

.products .info  h1 {
    margin-top: 1.5rem;
}

.products .info p {
    width: 82%;
    margin-top: 1.5rem;
    line-height: 1.3rem;
}

.color {
    margin-top: 1.5rem;
    line-height: 3rem;
}

.size {

/* margin-top: 1.5rem; */
margin-left: 0rem;
line-height: 3rem;
}
.btn1 {
    border: 1px solid  #A3A1A1;
    padding: 0.6rem;
    background-color: white;
}

.btn1:hover {
    border: 2px solid black;
}


.container {
    margin-bottom: 0.5rem;
}

.trigger {
    position: absolute;
    right: 27rem;
    top: 30rem;
    padding:0.5rem 3.7rem;
    font-weight: bold;
    border: solid black;
}

.buy-it-now {
    padding:0.6rem 4rem;
    width: 20%;
    /* height: 2rem; */
    margin-top: 0.5rem;
    margin-left: 53rem;
    background-color: black;
    color: white;
}

.icon {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 53rem;
    gap: 1rem;
    text-decoration: underline;
}



/* second part */

.money-back {
    border: 0px solid black;
    background-color:#EDEDED;
    width: 90%;
    margin: 0 auto;
    margin-top:8rem;
    padding: 1rem;
    /* line-height: 1.5rem; */
    /* align-items: center;
    justify-content: center;
    justify-items: center; */
}

.money-back div {
    
    width: 70%;
    margin-top: 0.8rem; 
    text-align: center;
    margin: 4rem;
}

.money-back p {
    margin: 2rem 21%;
}

.money-back button {
    /* margin-left: 28rem;
    margin-top: 0.5rem;
    padding: 1rem 2rem; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* border: 2px solid black;
    font-size: 1rem; */
    padding: 0.7rem 2rem;
    text-transform: uppercase;
}
 

/* features */

.features {
    display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            grid-gap: 1rem;
            margin: 50px;
            line-height: 1.5rem;
            margin-bottom: 2.5rem;
}

.prdt {
    text-transform: uppercase;
    margin-left: 3.5rem !important;
    margin-top: 2.5rem;
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/* ************************************** */


@media(max-width:375px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
     .mob{
        display: none;
    }

    .products .product-items img {
    margin: 1rem 0;
    
    }
    .products .info {
        margin-left: -13rem;
        margin-top:23rem ;
    }
    .products  h1{
        font-size: 20px;
    }
    .products .info p {
        width: 90%;
        margin-top: 1.5rem;
       font-size: 15px;
    }
    .buy-it-now {
        width: 90%;
        /* height: 2rem; */
        margin-top: 0.5rem;
        margin-left: 1rem;

    }
    .money-back{
        margin-top: 2rem;
        
    }
    .money-back div{
        margin: 1.5rem;
    }

    .money-back p {
        margin: 1.5rem 0%;
    }

    .icon {
        display: flex;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        gap: 1rem;
        text-decoration: underline;
    }



    .prdt{
        font-size: 15px;   
    }

    .features{
        display: flex;
        margin-left: 1.5rem;
    }

}
